@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Feel free to contact me in one of the following medium channels.";

}
<h2 style="color:gold">@ViewBag.Title.</h2>
<h3 style="color:yellow">@ViewBag.Message</h3>

@{
    string email = "chwelt88@gmail.com";
    string github = "https://github.com/cwelt";
    string facebook = "https://www.facebook.com/chanan.welt";
    string linkedin = "https://www.linkedin.com/in/chanan-welt";
}

<hr />
<address>
    <strong>Email:</strong>   <a href="mailto:(@email)">@email</a><br />
    <strong>Github:</strong> <a href=@github target="_">@github</a><br />
    <strong>Facebook:</strong> <a href=@facebook target="_"> @facebook </a><br />
    <strong>Linkedin:</strong> <a href=@linkedin target="_">@linkedin</a><br />
</address>


<video width="320" height="240" controls>
    <source src="\Content\media\hacnisini.3gpp" type="video/3gpp">
    Your browser does not support the video tag.
</video>

<img src="">


