@model CW.Soloist.WebApplication.ViewModels.CompositionParamsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Composition Form</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm("Compose", "Composition"))
        {

        <div class="form-group">
            @Html.LabelFor(m => m.SongId)
            @Html.DropDownListFor(m => m.SongId, Model.SongSelectList, new { @class = "form-control" })
        </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MusicalInstrument)
                <div>
                    @Html.EnumDropDownListFor(m => m.MusicalInstrument, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MusicalInstrument)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.OverallNoteDurationFeel)
                <div>
                    @Html.EnumDropDownListFor(m => m.OverallNoteDurationFeel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OverallNoteDurationFeel)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MinPitch)
                @Html.DropDownListFor(m => m.MinPitch, Model.PitchSelectList, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.MinPitch)


                @Html.LabelFor(m => m.MaxPitch)
                @Html.EnumDropDownListFor(m => m.MaxPitch, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MaxPitch)
            </div>

            <div class="form-group">
                <label>
                    @Html.CheckBoxFor(m => m.useExistingMelodyAsSeed) Use Existing Melody As Seed?
                </label>
            </div>

            <div class="text-center">
                @Html.AntiForgeryToken()
                <input class="btn btn-success" type="submit" value="Compose!" />
            </div>

        }

    </div>
</div>

@* Client Side Validations *@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

