@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@{ 
    string email = "chwelt88@gmail.com";
    string phone = "058-6613342";
    string linkedin = "https://www.linkedin.com/in/chanan-welt";
    string github = "https://github.com/cwelt";
    string facebook = "https://www.facebook.com/chanan.welt";
}

<hr />
<address>
    <strong>Phone:</strong><abbr title="Phone"> @phone</abbr><br />
    <strong>Email:</strong>   <a href="mailto:(@email)">@email</a><br />
    <strong>Linkedin:</strong> <a href=@linkedin target="_">@linkedin</a><br />
    <strong>Github:</strong> <a href=@github target="_">@github</a><br />
    <strong>Facebook:</strong> <a href=@facebook target="_"> @facebook </a><br />
</address>