@model SongViewModel

@{
    ViewBag.Title = "Upload New Song";
}

<h1>Upload New Song</h1>

@using (Html.BeginForm(
    actionName: "Create",
    controllerName: "Songs",
    method: FormMethod.Post,
    htmlAttributes: new { enctype = "multipart/form-data" }))
{
    <!-- Song Artist -->
    <div class="form-group">
        @Html.LabelFor(m => m.Artist, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Artist, new { @class = "form-control" })
        <div class="alert-danger">
            @Html.ValidationMessageFor(m => m.Artist)
        </div>
    </div>

    <!-- Song Title -->
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        <div class="alert-danger">
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>

    <!-- Melody Track Index -->
    <div class="form-group">
        @Html.LabelFor(m => m.MelodyTrackIndex)
        @Html.EnumDropDownListFor(m => m.MelodyTrackIndex, new { @class = "form-control" })
        <div class="alert-danger">
            @Html.ValidationMessageFor(m => m.MelodyTrackIndex)
        </div>
    </div>

    <!-- MIDI File Upload -->
    <div class="form-group">
        @Html.LabelFor(expression: m => m.MidiFile, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MidiFile, new { type = "file", @class = "form-control-file", accept = ".mid" })
        <div class="alert-danger">
            @Html.ValidationMessageFor(m => m.MidiFile)
        </div>
    </div>

    <!-- Chord Progression File Upload -->
    <div class="form-group">
        @Html.LabelFor(m => m.ChordsFile, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ChordsFile, new { type = "file", @class = "form-control-file", accept = ".txt" })
        <div class="alert-danger">
            @Html.ValidationMessageFor(m => m.ChordsFile)
        </div>
    </div>

    <!-- Save Button -->
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block center-block" />
    </div>

    @* Generate hidden form with cookie for client to check against
        when submitting the form in order to protect him from cross-
        site request forgery (CSRF) attakcs. *@
    @Html.AntiForgeryToken()
}

<!-- Song Index Redirection -->
<div>
    @Html.ActionLink("Back to songs list", "Index")
</div>




@* Enable Client Side Validations with JQuery of the Constraints Defined
    in the Data Annotation Attribiutes in the Model Class.  *@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}