@using CW.Soloist.WebApplication.Controllers;
@model CW.Soloist.WebApplication.ViewModels.SongViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">

        <!-- Artist -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.Artist)
        </dd>

        <!-- Song Title -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.Title)
        </dt>
        <dd>
            @Html.ActionLink("Download", "DownloadMidiFile", new { id = Model.Id, songFileType = SongFileType.MidiOriginalFile })
        </dd>


        <!-- Melody Track Index -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.MelodyTrackIndex)
        </dt>
        <dd>  @Model.MelodyTrackIndexDescription </dd>

        <!-- Original MIDI File -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.MidiFile)
        </dt>
        <dd>
            @Html.ActionLink(Model.MidiFileName, nameof(SongsController.DownloadFile), new { id = Model.Id, songFileType = SongFileType.MidiOriginalFile })
        </dd>

        <!-- Chord Progression File -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.ChordsFile)
        </dt>
        <dd>
            @Html.ActionLink(Model.ChordsFileName, nameof(SongsController.DownloadFile), new { id = Model.Id, songFileType = SongFileType.ChordProgressionFile })
        </dd>
    </dl>
</div>

<!-- Chord Progression Content -->
<div>@Html.LabelFor(m => m.ChordProgression)</div>
@Html.TextAreaFor(m => m.ChordProgression, 16, 80, new { Style = "max-width: 40%; overflow=auto;", Spellcheck = "false", Readonly = true });

<br /> 
<div>
    <br />
    <p>
        @if (Model.IsUserAuthorizedToEdit)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <text>|</text>
        }

        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
