@model CW.Soloist.WebApplication.ViewModels.SongViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">

        <!-- Artist -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.Artist)
        </dd>

        <!-- Song Title -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.Title)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Title)
        </dd>

        <!-- Original MIDI File -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.MidiFile)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.MidiFile)
        </dd>

        <!-- Melody Track Index -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.MelodyTrackIndex)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.MelodyTrackIndex)
        </dd>

        <!-- Chord Progression File -->
        <dt style="text-align: left; color:#b6ff00;">
            @Html.DisplayNameFor(m => m.ChordsFile)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ChordsFile)
        </dd>
    </dl>
</div>

<!-- Chord Progression Content -->
<div>@Html.LabelFor(m => m.ChordProgression)</div>
@Html.TextAreaFor(m => m.ChordProgression, 16, 180, new { Style="max-width: 40%", Spellcheck = "false", Readonly = true }); 

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
