@model IEnumerable<SongViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPrincipal user = User;
}

<h1> @ViewBag.Message</h1>
<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="color:#b6ff00">
        <th>  @Html.DisplayNameFor(model => model.Artist)  </th>
        <th>  @Html.DisplayNameFor(model => model.Title) </th>
        <th>  @Html.DisplayText("MIDI File") @* (model => model.MidiFileName) *@ </th>
        <th>  @Html.DisplayText("Chords File") @* Html.DisplayNameFor(model => model.ChordsFileName) *@ </th>
        <th>  @Html.DisplayNameFor(m => m.Created) </th>
        <th>  @Html.DisplayNameFor(m => m.Modified) </th>
    </tr>

    @foreach (var song in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(m => song.Artist)
    </td>
    <td>
        @Html.DisplayFor(m => song.Title)
    </td>
    <td>
        @* @Html.DisplayFor(modelItem => item.MidiFileName) *@
    </td>
    <td>
        @* @Html.DisplayFor(modelItem => item.ChordsFileName) *@
    </td>

    <td>
        @Html.DisplayFor(m => song.Created)
    </td>

    <td>
        @Html.DisplayFor(m => song.Modified)
    </td>

    <td>
        @{
            @Html.ActionLink("Details", "Details", new { id = song.Id }) <text> | </text>

            if (song.IsUserAuthorizedToEdit)
            {
                @Html.ActionLink("Edit", "Edit", new { id = song.Id }) <text> | </text>
            }
            else
            { <text> Edit |</text> }

        if (song.IsUserAuthorizedToEdit)
        {
            @Html.ActionLink("Delete", "Delete", new { id = song.Id })
        }
        else
        { <text> Delete </text> }
        }
    </td>
</tr>
    }
</table>
